<%- include('header') %>
<form method="GET" action="/cotacao">
  <label>Dólar:</label>
  <input name="cotDol" placeholder="Cotação dolar" />
  <input name="qtdDol" placeholder="Quantidade de dolares" />
  <label>Euro:</label>
  <input name="cotEur" placeholder="Cotação Euro" />
  <input name="qtdEur" placeholder="Quantidade de Euro" />
  <label>Bitcon:</label>
  <input name="cotBit" placeholder="Cotação Bitcoin" />
  <input name="qtdBit" placeholder="Quantidade de Bitcoin" />
  <label>Ethereum:</label>
  <input name="cotEth" placeholder="Cotação Ethereum" />
  <input name="qtdEth" placeholder="Quantidade de Ethereum" />
  <button>Converter!</button>
</form>
<%- include('footer') %>
